
#name{
    margin-left: 3rem;
    
}
.subtitle{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
}

.card-text-center{
    border-radius: 8rem;
    border-color: #EABE3F;
}
.images{
    height: 1020px;
}

